<div class="view-container" ng-if="!submitted">
  <div class="message {{messageLevel}}">{{message}}</div>
  <div class="prompt">
    {{promptMessage}}
    <div class="phrase">{{promptPhrase}}</div> 
    Click on the boxes below and select options to try to replicate this phrase 
    as closely as possible: 
  </div>
  <div class="separator"></div>  
  <div class="command-ctrl"> 
    <input type="button"
           {{undoActive?"":"disabled"}} 
           title="Undo"
           value="Undo"
           ng-click="undoApp()"
           class='button undo {{undoActive?"":"disabled"}}'>
    </input>
    <input type="button" 
           {{redoActive?"":"disabled"}} 
           title="Redo"
           value="Redo"
           ng-click="redoApp()"
           class='button redo {{redoActive?"":"disabled"}}'>
    </input>
  </div> 
  <div class="command-disp">
    <div class="command-container">
      <cmd rule="command" 
           click-leaf="makeOptions(ind)" 
           index="[]"
           active-ind="optionsIndex"></cmd>
    </div>
    <options options="options" 
             on-select="applyOption(option)" 
             ng-if="optionsVisible">
    </options> 
  </div>
  <div class="separator"></div>  
  <div class="separator" ng-if="submitted"></div>  
  <div class="prompt">
    When you are satisfied click continue: 
  </div>
  <div class="submit-buttons">
    <input type="button" 
           {{(commandComplete())?"":"disabled"}} 
           title="Continue"
           value="Continue"
           ng-click="submit()"
           class='button submit {{(commandComplete())?"":"disabled"}}'>
    </input>
  </div> 
</div>
<div class="done" ng-if="submitted">
  Copy this code and paste it back into your survey to continue the task:
  <div class="nonce">{{nonce}}</div>
</div> 

<!--
<hr/> 
<h4> Debug Data </h4> 
<code><b>Options Visible :</b></code>
</br></br><json obj='optionsVisible'></json></br></br>
<code><b>Options Index :</b></code>
</br></br><json obj='optionsIndex'></json></br></br> 
<code><b>Command Object :</b></code>
</br></br><json obj='command'></json></br></br>  
<code><b>messageLevel :</b> {{messageLevel}} </code></br></br>  
<code><b>giveUpVisible :</b> {{giveUpVisible}} </code></br></br>  
<code><b>Normalized Grammar :</b></code>
</br></br><json obj='grammar.norm'></json></br></br>  
<code><b>Route Params:</b></code>
</br></br><json obj='rp'></json></br></br>  
-->
