// ######### Primary CSS For PSM Interface #########

// ## Import ##

@import 'public/css/reset.scss';
@import 'public/css/open-iconic.scss';

// ## Variables ##

$main-font : Roboto, 'Helvetica Neue', Arial, sans-serif;
$base-font-size : 1em;

// ## Useful Mixins ##

@mixin css3($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

@mixin border-radius($radius) {
  @include css3(border-radius,$radius); 
}

@mixin border-radii($rtl,$rtr,$rbr,$rbl){
  @include css3(border-top-left-radius,$rtl); 
  @include css3(border-top-right-radius,$rtr); 
  @include css3(border-bottom-right-radius,$rbr); 
  @include css3(border-bottom-left-radius,$rbl); 
}

// ## Body Components ##  

h1 {
  font-size: 1.3 * $base-font-size; 
  margin: 1em;
}

body {
  font-family: $main-font;
  font-size: $base-font-size;
  line-height: $base-font-size * 1.1;
  margin: 100px;
}  

.errors { 
  color: red;
  font-family: monospace; 
  font-size: 0.8 * $base-font-size;
  font-weight: bold;
}

$separator-color : rgb(215,215,215); 

.large-text{
  width: 50em; 
  height: 20em; 
  margin: 1em;
  font-family: monospace;
}

.separator {
  background-clip: border-box;
  box-sizing: border-box;
  background-color: $separator-color;
  display: block;
  height: 1px;
  margin: auto; 
  padding: 0px;
  width: 98%;
}

.button { 
  @include border-radius(4px);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  margin: 0px;
  padding: 4px 10px 4px 10px;
  font-size: 16px;
  text-align: center;
  background-origin: padding-box;
  background-size: auto;
}

.button:hover {
  background-image: linear-gradient(rgb(240, 240, 240) 0%, rgb(215, 215, 215) 100%);
  border-color: rgb(150, 150, 150);
}

.button.disabled {
  background-image: linear-gradient(rgb(225, 225, 225) 0%, rgb(200, 200, 200) 100%);
  color: rgb(180,180,180); 
  border-color: rgb(200, 200, 200);
}


.button.submit {
  padding: 8px 20px 8px 20px;
  background-image: linear-gradient(rgb(75, 134, 238) 0%, rgb(28, 103, 234) 100%);
  border-color: rgb(16, 72, 169);
  color: rgb(255, 255, 255);
}

.button.submit:hover {
  background-image: linear-gradient(rgb(65, 124, 228) 0%, rgb(18, 93, 224) 100%);
  border-color: rgb(18, 36, 84);
}

.button.submit.disabled { 
  background-image: linear-gradient(rgb(105, 134, 198) 0%, rgb(78, 103, 184) 100%);
  color: rgb(160,180,200); 
  border-color: rgb(86, 125, 219);

}

.unset {
  border-color: Red;
}


.button.parser { 
  margin: 1em;
}

/* Title styles */

.title {
  background: black; 
  color: white; 
  font-weight: bold;
  font-size: xx-large;
  padding: 0.5em;
}

/* prompt styles */ 

.prompt{
  padding: 1em; 
}

.prompt .phrase{
  padding: 2em; 
  font-weight: bold;
}

/* message styles */ 

.message {
  margin: 1em;
  padding: 0.5em;
  font-size: large;
}

.message.normal {
}

.message.warning {
  color: Red;
}

.message.urgent {
}

.message.hint {
}

.message.hide {
  visibility: hidden;
}

/* command control options */ 

.command-ctrl {
  margin: 1em; 
  text-align: right;
}

/* command display styles */ 

.command-disp {
  padding: 1em;
  overflow-x: auto;
  margin-bottom: 4em;
}

.command-container {
  width: 100%;
}

.command-disp * {
  padding: 0em;
}
 
.command-disp .label {}

.command-disp .active {
  background: #FFFACD;
}

.command-disp .cmd {
  white-space: nowrap;
  width: fit-content;
  overflow-y:visible;
}

.command-disp .dropdown{
  cursor: pointer;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(194, 194, 194);
  display: inline-block;
  margin: 0.3;
  padding: 0.3em;
  padding-left: 0.4em;
  background-color: rgb(221, 221, 221);
}

.command-disp .dropdown:after {
  font-size: 0.6em;
  padding-left: 0.3em;
  font-family: 'Icons';
  content:' \e02d'; 
}


.command-disp .dropdown:hover { 
  background-color: rgb(235, 235, 235);
}

.command-disp .dropdown.active { 
  background-color: rgb(255, 225, 180);
  padding: 0.3em 0.3em 0.6em 0.3em;
}

.options {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 90%;
  margin-top: -1px;
}

.option {
  padding: 0.5em;
  background-color: rgb(255, 225, 180);
  cursor: pointer;
  border-radius: 0px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: rgb(194, 194, 194);
}

.option:first-child {
  border-radius: 2px 2px 0px 0px;
  border-width: 1px;
}

.option:last-child { 
  border-radius: 0px 0px 2px 2px;
}

.option:hover {
  background-color: rgb(255, 237, 215);
}

.submit-buttons {
  margin: 1em; 
  text-align: right;
}

.done{ 
  margin: 1em;
  text-align: center;
  padding-top: 55px;
}

.done .nonce{ 
  margin: 2em;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.json {
  white-space: pre;
  font-weight: bold; 
  font-family: monospace;
  font-size: 8pt;
  line-height: 9pt;
}
.json-bar { 
  color: LightSteelBlue;
}
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: DarkBlue; }
.number { color: DarkOrange; }
.boolean { color: DarkSlateGrey; }
.null { color: Magenta; }
.key { color: DarkRed; }
